07硬件资料/03.外设模块资料/06.5G模组/5G[[:space:]]RedCap模块/MT5710_TR6二开资料.rar filter=lfs diff=lfs merge=lfs -text
09.[[:space:]]进阶功能开发/03.QT应用开发/qt-everywhere-opensource-src-5.15.16.tar.xz filter=lfs diff=lfs merge=lfs -text
10.[[:space:]]进阶综合案例/05.ModelZoo/model.zip filter=lfs diff=lfs merge=lfs -text
在线仓库/ss928v100_clang-master/smp/a55_linux/mpp/sample/svp/ive/data/input/gmm2/gmm2_352x288_sp400_frm1000.yuv filter=lfs diff=lfs merge=lfs -text
在线仓库/ss928v100_gcc-master/smp/a55_linux/mpp/sample/svp/ive/data/input/gmm2/gmm2_352x288_sp400_frm1000.yuv filter=lfs diff=lfs merge=lfs -text
work/smartbag_alert_controller/*.sh text eol=lf
work/dx_gp21_tracker/*.sh text eol=lf
work/linux_bmi270_backpack/*.sh text eol=lf
work/ss928_board_setup/scripts/*.sh text eol=lf
