[Unit]
Description=SS928 SmartBag alert controller
Requires=ws73-bluetooth-module.service
After=ws73-bluetooth-module.service bluetooth.service dbus.service systemd-networkd.service network-online.target
Wants=bluetooth.service systemd-networkd.service network-online.target

[Service]
Type=simple
WorkingDirectory=/root/smartbag_alert/controller
Environment=PYTHONUNBUFFERED=1
ExecStart=/bin/sh /root/smartbag_alert/controller/start_ss928_smartbag_alert.sh
Restart=always
RestartSec=3
KillMode=control-group

[Install]
WantedBy=multi-user.target
