os/OpenHarmony/.repo
os/OpenHarmony/.gn
os/OpenHarmony/applications
os/OpenHarmony/arkcompiler
os/OpenHarmony/base
os/OpenHarmony/build.py
os/OpenHarmony/build.sh
os/OpenHarmony/build
os/OpenHarmony/commonlibrary
os/OpenHarmony/developtools
os/OpenHarmony/device/qemu
os/OpenHarmony/docs
os/OpenHarmony/domains
os/OpenHarmony/drivers
os/OpenHarmony/foundation
os/OpenHarmony/ide
os/OpenHarmony/interface
os/OpenHarmony/kernel/linux/build
os/OpenHarmony/kernel/linux/common_modules
os/OpenHarmony/kernel/linux/linux-6.6
os/OpenHarmony/napi_generator
os/OpenHarmony/productdefine
os/OpenHarmony/qemu-run
os/OpenHarmony/test
os/OpenHarmony/third_party
os/OpenHarmony/vendor/ohemu
os/OpenHarmony/out
os/OpenHarmony/device/soc/hisilicon/hi3403v100/sdk_linux/open_source
os/OpenHarmony/device/soc/hisilicon/hi3403v100/sdk_linux/osdrv
os/OpenHarmony/device/soc/hisilicon/hi3403v100/sdk_linux/smp
os/OpenHarmony/device/soc/hisilicon/hi3403v100/sdk_linux/LICENSE
os/OpenHarmony/device/soc/hisilicon/hi3403v100/sdk_linux/README_zh.md
os/openharmony_prebuilts
os/OpenHarmony/prebuilts
os/OpenHarmony/kernel/liteos_a
os/OpenHarmony/vendor/hisilicon/*/hdf_config/.built-in.a.cmd
os/OpenHarmony/vendor/hisilicon/*/hdf_config/.modules.order.cmd
os/OpenHarmony/vendor/hisilicon/*/hdf_config/.hdf_hcs_hex.o.d
os/OpenHarmony/vendor/hisilicon/*/hdf_config/built-in.a
os/OpenHarmony/vendor/hisilicon/*/hdf_config/hdf_hcs.hcb
os/OpenHarmony/vendor/hisilicon/*/hdf_config/hdf_hcs_hex.o
os/OpenHarmony/vendor/hisilicon/*/hdf_config/modules.order
os/OpenHarmony/device/soc/hisilicon/common/hal/media/audio/hi3403v100
os/OpenHarmony/device/soc/hisilicon/common/hal/media/codec/hi3403v100
os/OpenHarmony/device/soc/hisilicon/common/hal/media/common/hi3403v100
os/OpenHarmony/device/soc/hisilicon/common/hal/media/format/hi3403v100
os/OpenHarmony/device/soc/hisilicon/common/hal/media/build/cfg.mak
os/OpenHarmony/vendor/hisilicon/hispark_aifly*_linux/patch_revert.log
os/OpenHarmony/kernel/linux/patches/linux-6.6/prebuilts
os/OpenHarmony/device/soc/hisilicon/common/platform